/* @override 
	http://192.168.1.13:8100/css/d3clock.css
	http://localhost:8888/undecimalclockApp/www/css/d3clock.css */


ion-content {
	/*background-color: red !important;*/
		background: linear-gradient(70deg, #ebebeb 0%, #fcfcfc 33.3%, #efeeee 100%) #fff !important;
	
}
.d3clock-wrapper {
  text-align: center;
  color: #333;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position:  relative;
}


svg {
	margin-left:auto;
	margin-right: auto;
	display: block;
	position:relative;
	top:50%;
	left: 0px;
	stroke: #333;
	font-family: 'Montserrat', sans-serif;
	/*-webkit-transform: rotate(-10deg) skew(10deg,20deg)  ; */
}

#rim {
  fill: none;
  stroke: #999;
  stroke-width: 3px;
}


.hand {
	z-index: 20;
	stroke-width: 2;
	fill: #333;
	stroke:  #333;
}

#clock-hands {
	z-index: 20;
}

#transit-hands {
	z-index: 10;
}

.transitHand {
	z-index: 10;
	stroke-width: 2;
	fill: #DF8087;
	stroke: #DF8087;
	opacity: 0.8;
}

.second-transitHand {
	display: none;
}
	
.undecsmall-hand{
}

.undecmedium-hand{
}

.undeclarge-hand{
}

.hands-cover{
	stroke-width:1;
	fill:#FFF;
	stroke: #FFF;
}

.undecsmall-tick{
	stroke-width:1.25;
	fill:#333;	
}

.undeclarge-tick{
	stroke-width:4; 
}

.second-label{
	font-size: 12px;
}

.hour-label{
	font-size: 18px;
}



